<ion-header>
  <ion-toolbar>
    <ion-title>DAARA DJI TRANSFERT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br> <br>
  <img class="logo" src="../../assets/wari.png"  width="100" height="100" alt="">

  <form #f="ngForm" (ngSubmit)="loginUser(f.value)" method="post">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input ngModel type="username" name="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
  
    <ion-button type="submit" expand="full" color="primary">Login</ion-button>
  </form>
</ion-content>
